@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
    
}

main {
    --positive: rgba(233, 233, 233);
    --negative: rgb(128, 116, 116);
    padding: 5rem 1rem 0rem 1rem;
    width: 100vw;
    min-height: 100vh;  
    color:var(--negative);
    background-color: var(--positive);
    }

main.dark {
    width: 100vw;
    min-height: 100vh; 
    --negative: rgba(233, 233, 233);
    --positive: rgb(128, 116, 116);
    color:var(--negative);
    background-color: var(--positive);
}

header {
    position:fixed;
    top:0;
    left:0;
    padding: 0rem 1rem;
    background: linear-gradient(to bottom, rgba(233, 233, 233) 80%,  rgba(233, 233, 233, 0.9) );
    font-family: 'Pacifico', sans-serif;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 56% auto;
    align-items: end;
    width: 100%;
}

nav {
    display:grid;
    align-items: center;
}

header ul {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

button.contrast {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    object-fit: fill;
    border-radius:180px;
    position:fixed;
    top:0.5rem;
    right: 0.5rem;
}

img.button-pic {
    width: 2rem;
    height: 2rem;
    position:fixed;
    top:0.5rem;
    right: 0.5rem;

}

footer {
    background-color: none;
    color: black;
    text-align: center;
    padding: 1rem;
}

main.dark footer{
    color: rgba(247, 247, 247);
    background-color: rgb(110, 101, 101);
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color:black
}

a:visited {
    text-decoration: none;
}

main.dark header {
    color:blue;
    background-color:black
}

ul.list {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem
}

ul li {
    list-style-type: none;
}

ul.list li {
    width: 300px;
    list-style-type: none;
    color: black;
    text-align:justify;
}

input:not(.status) {
    width: 100%;
}

input#description {
    min-height: 3rem;
}

img.picture {
    width: 100%;
    border-radius: 2%;
    box-shadow: 2px -2px 2px black;
}

h2{
    font-family: 'Caveat', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem;
}

.ind-issue {
    width: 100%;
    color: rgb(110, 101, 101);
    border: 1px solid black;
    padding:0.5rem;
    box-shadow: 2px -2px 2px black;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap:.5rem
}

main.dark .ind-issue{
    color: rgba(247, 247, 247);
    background-color: rgb(110, 101, 101);
}

.ind-issue>div{
display:grid;
grid-template-columns: 1fr 1fr;

}

p.registered {
    font-size: 0.8rem;
}

form {
    padding: 1rem 0rem;
    display: grid;
}

.user-registered {
    font-size: 12px;
    padding-top:1rem
}

.register, .login, .new-issue-form {
    font-family: 'Caveat', sans-serif;
    margin-top: 2rem;
    min-width: 60vw;
    text-align:center;
}

.login>h1, .register>h1{
    background-color: var(--negative);
    color: var(--positive);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.login fieldset, .register fieldset {
    display: flex;
    flex-direction: row;
}

.login fieldset label {
    padding: 0 0.5rem;
    width: 7rem;
    text-align: left;
}

.login fieldset input {
    flex-grow: 75%
}

.register fieldset label  {
    padding: 0 0.5rem;
    width: 8rem;
    text-align: left;
}

.register fieldset input {
    min-width: 12rem;
}

button.boton1, a.boton1 {
    --positive: rgba(233, 233, 233, 0.959);
    --negative: rgb(128, 116, 116);
    background-color: var(--negative);
    color:var(--positive);
    border-radius: 4px;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
}

button.boton2 {
    --positive: rgba(233, 233, 233, 0.959);
    --negative: rgb(128, 116, 116);
    background-color: var(--negative);
    font-family: 'Caveat', sans-serif;
    font-weight:bold ;
    font-size: 1rem;
    color:var(--positive);
    border-radius: 4px;
    width: fit-content;
    margin: 0 auto;
    padding: 0.1rem 0.5rem;
}

#issue-status, .search {
    font-family: 'Caveat', sans-serif;
    text-align: center;
    
}

#issue-status fieldset {
    border-radius: 6px;
}

#issue-status input {
    margin-left:2rem;
    margin-right: 0.5rem;
}

/* Mediquery*/
@media (min-width:450px) {
    .ind-issue {
        border: 1px solid black;
        width: 300px;
        height: 100%;    
    }

    ul.list {
        display:flex;
        flex-wrap:wrap;
        flex-direction:initial;
        justify-content: space-around;
        gap: 1rem;
    }

    li {
        list-style-type: none;
        color: black;
    }

}