@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Righteous&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
    
}

/* .root {
    padding: 0;
    margin: 0;

    --positive: rgba(233, 233, 233, 0.959);
    --negative: rgb(128, 116, 116);
    width: 100vw;
    height: 100vh;  
    color:var(--negative);
    background-color: var(--positive);
} */

main {
    --positive: rgba(233, 233, 233, 0.959);
    --negative: rgb(128, 116, 116);
    padding: 1rem 1rem 0rem 1rem;
    width: 100vw;
    height: 100vh;  
    color:var(--negative);
    background-color: var(--positive);
    }

main.dark {
    width: 100vw;
    height: 100vh; 
    --negative: rgba(233, 233, 233, 0.959);
    --positive: rgb(128, 116, 116);
    color:var(--negative);
    background-color: var(--positive);
}

.contrast {
    color:red;
    background-color: red;
    border: 5px;
    width: 2rem;
    object-fit: cover ;
}



header {
/*     position:fixed;
    top:auto;
    left:auto; */
    display: grid;
    grid-template-columns: 56% auto;
    width: 100%;
font-family: 'Pacifico', sans-serif;
font-size: 1.2rem;
}

button.contrast {
    width: 2rem;
    height: 2rem;

    background-color: green;
    object-fit: fill;
    border-radius:180px;
    position:fixed;
    top:0.5rem;
    right: 0.5rem;
}

img.button-pic {
    width: 2rem;
    height: 2rem;

}

footer {
    background-color: none;
    color: black;
    text-align: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

a:visited {
    text-decoration: none;
    text-decoration-color: none;
}

li {
    list-style-type: none;
    color: black;
}



img.picture {
    width: 100%;
    border-radius: 2%;
    box-shadow: 2px -2px 2px black;
}

.prueba h2{
    font-family: 'Caveat', sans-serif;
    font-size: 1rem;
}

.ind-issue {
    border: 5px solid red;
    padding:0.5rem;
    background-color: rgba(247, 247, 247, 0.959);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap:.5rem

}

.ind-issue>div{
display:grid;
grid-template-columns: 1fr 1fr;

}

p.registered {
    font-size: 0.8rem;
}

form {
    padding: 1rem 0rem;

}
